*{
    font-family: "Arial", cursive, sans-serif;
}
/* Makes scrolling smooth and not snappy, found online */
html{
    scroll-behavior: smooth;
}
:root{
    --dark: rgb(112, 112, 117);
}
h1{
    text-align:center;
    color: white;
}
header{
    color:black;
    background: linear-gradient(90deg, rgba(0,0,0,1) 8%, rgba(124,124,139,1) 95%);    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    text-align:end;
}
body{
    display:flex;
    flex-direction: column;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 8%, rgba(143,143,143,1) 95%);
}
body h2, p{
    color:white;
}
.content{
    margin-top: 305px;
    border: solid 3px white;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    border-radius: 5px;
}
.content h2{
    text-align: center;
}
.about{
    margin-right: 25px;
}
.workpreview{
    display:flex;
    height: 300px;
    width: 300px;
    border: solid grey 3px;
}
#calculator{
    background:url("../calculator.png");
    background-size: cover;
    background-position: center;
    width: 500px;
}
#clock{
    background:url("../clock.png");
    background-size: cover;
    background-position: center;
}
#puzzle{
    background:url("../puzzle.jpg");
    background-size: cover;
    background-position: center;
}
#trex{
    background:url("../trexgame.jpg");
    background-size: cover;
    background-position: center;
}
.cal-title{
    display:inline-block;
    align-self: flex-end;
    background-color: grey;
}
.clock-title{
    display:inline-block;
    align-self: flex-end;
    background-color: grey;
}
.puzzle-title{
    display:inline-block;
    align-self: flex-end;
    background-color: grey;
}
.trex-title{
    display:inline-block;
    align-self: flex-end;
    background-color: grey;
}
.link{
font-size: 20px;
display: inline;
}
.contact{
    font-size: 15px;
    font-weight:bold;
    display:inline;
}
.link:hover{
    box-shadow: inset 0px 0px 8px var(--dark), 0 0 15px var(--dark);
}
.workpreview:hover{
    box-shadow: inset 0px 0px 8px var(--dark), 0 0 15px var(--dark);
}
.banner{
    width: 100%;
}
.content-title{
    background-color: rgb(173, 170, 170);
}
@media screen and (max-width: 992px) { 
    nav, .content{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 768px) { 
    header, nav, .content{
        flex-direction: column;
    }
}
